@model IEnumerable<ExactusLibraryApp.Models.Book>
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Books List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Book
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th> Title </th>
                <th> Author </th>
                <th> Owner </th>
                <th> Checked Out By </th>
                <th> Checked Out Date </th>
                <th> Status </th>
                <th> Location </th>
                <th> Type </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Author</td>
                    <td>@obj.Owner</td>
                    <td>@obj.CheckedOutBy</td>
                    <td>@obj.CheckedOutDate</td>
                    <td>@obj.StatusName</td>
                    <td>@obj.LocationName</td>
                    <td>@obj.TypeName</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Comment" asp-action="GetAllComments" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"><i class="bi bi-card-list"></i> Comments</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>

                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"><i class="bi bi-trash-fill"
                           onclick="return window.confirm('Do you want to delete this option?')"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>